@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-image: url("https://getwallpapers.com/wallpaper/full/6/4/7/1392811-gorgerous-simple-background-pictures-1920x1080-htc.jpg");
}
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}